#!/bin/sh
echo "Installing OS-specific packages"

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt update
sudo apt install zsh neovim fd-find ripgrep python3-pylsp pylint
{{ end }}

echo "Installing Go"
GO_VERSION="1.25.1"
sudo rm -rf /usr/local/go && wget https://go.dev/dl/go${GO_VERSION}.linux-386.tar.gz -O go.tar.gz && sudo tar -C /usr/local -xzf go.tar.gz
rm -f go.tar.gz

export PATH=$PATH:/usr/local/go/bin

echo "Installing buildifier"
go install github.com/bazelbuild/buildtools/buildifier@latest
